<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>produtos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-item-group>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail>
        <img [src]="item.imageUrl || 'assets/imgs/prod.jpg'"/>
      </ion-thumbnail>
      <ion-list> {{item.nome}} </ion-list>
      <ion-list slot="end"> {{item.preco | currency}} </ion-list>
    </ion-item>
  </ion-item-group>  
</ion-content>
