<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>produtos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button router-direction="forward" href="cartPage">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item-group>
    <ion-item *ngFor="let item of items" (click)="showDetail(item.id)">
      <ion-thumbnail>
        <img [src]="item.imageUrl || 'assets/imgs/prod.jpg'"/>
      </ion-thumbnail>
      <ion-list class="textProd"> {{item.nome}} </ion-list>
      <ion-list slot="end"> {{item.preco | currency}} </ion-list>
    </ion-item>
  </ion-item-group>  
</ion-content>
