<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label position="floating">Nome*</ion-label>
      <ion-input formControlName="nome" required="true" clearInput type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['nome'].dirty && formGroup.controls['nome'].errors" margin-left>Valor invalido</p>
    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input formControlName="email" required="true" clearInput type="email"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor invalido</p>
    <ion-list>
      <ion-radio-group 	allow-empty-selection formControlName="tipo">
        <ion-list-header>
          <ion-label>
            Tipo de cliente
          </ion-label>          
        </ion-list-header>
        <ion-item>
          <ion-label>Pessoa física</ion-label>
          <ion-radio checked="true" value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Pessoa jurídica</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>      
    </ion-list>
    <ion-item>
      <ion-label position="floating">CPF ou CNPJ</ion-label>
      <ion-input clearInput required="true" formControlName="cpfOuCnpj" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['cpfOuCnpj'].dirty && formGroup.controls['cpfOuCnpj'].errors" margin-left>Valor invalido</p>
    <ion-item>
      <ion-label position="floating">Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>Valor invalido</p>
    <ion-item>
      <ion-label position="floating">Logradouro*</ion-label>
      <ion-input clearInput required="true" formControlName="logradouro" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['logradouro'].dirty && formGroup.controls['logradouro'].errors" margin-left>Valor invalido</p>
    <ion-item>
      <ion-label position="floating">Número*</ion-label>
      <ion-input clearInput required="true" formControlName="numero" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.numero.dirty && formGroup.controls.numero.errors" margin-left>Valor invalido</p>
    <ion-item>
      <ion-label position="floating">Complemento</ion-label>
      <ion-input clearInput formControlName="complemento" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input clearInput formControlName="bairro" required="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CEP*</ion-label>
      <ion-input clearInput formControlName="cep" required="true" maxlength='8' type="number"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['cep'].dirty && formGroup.controls['cep'].errors" margin-left>Valor invalido</p>
    <ion-item>
      <ion-label position="floating">Telefone 1*</ion-label>
      <ion-input clearInput inputmode="tel" required="true" formControlName="telefone1" type="tel"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.telefone1.dirty && formGroup.controls.telefone1.errors" margin-left>Valor invalido</p>
    <ion-item>
      <ion-label position="floating">Telefone 2</ion-label>
      <ion-input clearInput inputmode="tel" formControlName="telefone2" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone 3</ion-label>
      <ion-input clearInput inputmode="tel" formControlName="telefone3" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estado*</ion-label>
      <ion-select formControlName="estadoId" (ionChange)="updateCidades()">
        <ion-select-option *ngFor="let estado of estados; first as f" [value]="estado.id">  
          {{estado.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cidade*</ion-label>
      <ion-select formControlName="cidadeId">
        <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.id">
          {{cidade.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button ion-button block type="submit" [disabled]="formGroup.invalid">Criar conta</ion-button>
  </form>

</ion-content>
